
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row flexbox-container">
    <div class="col-xl-12 col-md-12 col-12">
        <!-- w-100 for IE specific -->
        <div class="card bg-transparent shadow-none">
            <div class="card-content">
                <div class="card-body text-center bg-transparent miscellaneous">
                    <img src="../../../app-assets/images/pages/500.png" class="img-fluid my-3" alt="branding logo">
                    <h1 class="error-title mt-1">Bu Kısmı Yapım Aşamasındadır!</h1>
                    <p class="p-2">
                        Anlayışınız için teşekkür ederiz..
                    </p>
                    <a href="/HomePage/Index" class="btn btn-primary round glow">
                        ANASAYFAYA DÖN
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

