
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="dashboard-ecommerce">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-12 dashboard-greetings">
            <h2>Özyer Portal'ına Hoş Geldiniz!..</h2>
            <img class="imgStyle" src="/app-assets/images/about.jpg" alt="Alternate Text" />
        </div>
    </div>
</section>

